@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,100..700&display=swap');

body{
  background-color: #222;
  font-family: "Cabin", serif;
  margin: 0;
  padding: 0;
}
header .navbar {
  border-bottom: 1px solid #424242;
  padding-left: 20px;
  padding-right: 20px;
}
header .navbar-nav a{
  color: #fff;
  font-size: 15px;
  display: flex;
  padding: 0 18px !important;
}
header .navbar-nav a img{
  max-width: 20px;
  margin-left: 5px;
}
header .navbar-nav a:hover,
header .navbar-nav a:focus,
header .navbar-nav a.active{
  color: #339af0 !important;
}
header .navbar .btn-primary,
header .navbar .btn-outline-primary{
  padding: 5px 18px;
  border-radius: 4px;
  margin-right: 15px;
}
.navbar .btn-outline-secondary{
  padding: 4px 6px;
}
/* Login Page style */
.auth-page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.auth-container{
  max-width: 460px;
  width: 100%;
}
.auth-container .white-box{
  background-color: #fff;
  padding: 40px 40px 10px;
  border-radius: 20px;
  width: 100%;
}
.auth-container img {
  display: block;
  margin: 0 auto 30px;
}
.auth-container h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #222222;
  text-align: center;
}
.auth-container .btn-primary {
  padding: 10px 20px;
  display: flex;
  min-width: 100%;
  justify-content: center;
  margin: 15px auto;
}
.auth-container .btn-primary:hover {
  color: #339af0;
}
.form-group label {
  font-size: 16px;
  color: #333;
  display: flex;
  margin-bottom: 5px;
}
.form-group .text-danger {
  font-size: 14px;
}
.form-group .form-control,
.form-group .form-select{
  padding: 10px 15px;
}
.error-field .form-control,
.error-field .form-select {
  border-color: #dc3545;
}
.no-account {
  text-align: center;
  color: #666;
}
.no-account span{
  color: #339af0;
  cursor: pointer;
}
/* Button style */
.btn-primary,
.btn-outline-primary:hover{
  background-color: #339af0;
  border-color: #339af0;
}
.btn-outline-primary{
  color: #339af0;
  border-color: #339af0;
}
.btn-primary:hover{
  background-color: transparent;
  border-color: #2c7eb8;
}
.btn-close:focus{
  box-shadow: none;
}
.login-user {
  width: 36px;
  height: 36px;
  background: #339af0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.user-dropdown .dropdown-item{
  padding: 6px 20px;
  font-size: 15px;
  color: #555;
}

/* Yhhl */
.form-modal .modal-header {
  border-bottom: 0;
  padding: 20px 30px 0;
}
.form-modal  .modal-body {
  padding: 20px 30px 30px;
}
.form-modal .btn-primary {
  min-width: 200px;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  padding: 10px;
  margin-top: 25px;
}
.modal-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b0b0b099;
  z-index: 1;
  border-radius: 6px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Home page style */
.category-banner{
  position: relative;
  overflow: hidden;
}
.category-banner .slick-prev{
  left: 20px;
  z-index: 9;
}
.category-banner .slick-next{
  right: 20px;
}
.category-banner .slide-item{
  position: relative;
}
.category-banner .slide-item h1{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 1;
  display: inline-table;
  background-color: #ffffffe3;
  padding: 10px 20px;
  font-size: 24px;
  color: #000;
}
.product-category {
  padding: 60px 0;
}
.product-category .section-heading,
.papular-product .section-heading{
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 30px;
}
.category-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.category-item a {
  border-radius: 4px;
  text-decoration: none;
  background: #fff;
  color: #333;
  padding: 7px 24px;
  font-size: 15px;
}
.category-item img {
  height: 400px;
  object-fit: cover;
}
.category-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000006b;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}
.category-item h3{
  font-size: 24px;
  color: #fff;
}
.category-item h3 span{
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}
.papular-product{
  padding: 0 0 60px;
}
.product-item {
  background: #2e2e2e;
  border: 1px solid #444;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.product-item {
  background: #2e2e2e;
  border: 1px solid #444;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.product-info {
  padding: 15px;
}
.product-info h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.product-info p {
  color: #828282;
}
.product-info .category {
  color: #828282;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.product-info .button-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info .button-price span {
  color: #f1f1f1;
}
.product-item img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

/* Footer style */
footer {
  border-top: 1px solid #3b3b3b;
  padding: 15px 0;
}
footer p {
  margin: 0;
  text-align: center;
  color: #777;
}
footer p a{
  text-decoration: none;
}