@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body{
  background-color: #222;
  font-family: "Cabin", serif;
}
header .navbar {
  border-bottom: 1px solid #424242;
  padding-left: 20px;
  padding-right: 20px;
}
header .navbar-nav a{
  color: #fff;
  font-size: 15px;
  display: flex;
  padding: 0 18px !important;
}
header .navbar-nav a img{
  max-width: 20px;
  margin-left: 5px;
}
header .navbar-nav a:hover,
header .navbar-nav a:focus,
header .navbar-nav a.active{
  color: #339af0 !important;
}
header .navbar .btn-primary,
header .navbar .btn-outline-primary{
  padding: 5px 18px;
  border-radius: 4px;
  margin-right: 15px;
}
.navbar .btn-outline-secondary{
  padding: 4px 6px;
}
/* Login Page style */
.auth-page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.auth-container{
  max-width: 460px;
  width: 100%;
}
.auth-container .white-box{
  background-color: #fff;
  padding: 40px 40px 10px;
  border-radius: 20px;
  width: 100%;
}
.auth-container img {
  display: block;
  margin: 0 auto 30px;
}
.auth-container h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #222222;
  text-align: center;
}
.auth-container .btn-primary {
  padding: 10px 20px;
  display: flex;
  min-width: 100%;
  justify-content: center;
  margin: 15px auto;
}
.auth-container .btn-primary:hover {
  color: #339af0;
}
.form-group label {
  font-size: 16px;
  color: #333;
  display: flex;
  margin-bottom: 5px;
}
.form-group .text-danger {
  font-size: 14px;
}
.form-group .form-control,
.form-group .form-select{
  padding: 10px 15px;
}
.error-field .form-control,
.error-field .form-select {
  border-color: #dc3545;
}
.no-account {
  text-align: center;
  color: #666;
}
.no-account span{
  color: #339af0;
  cursor: pointer;
}
/* Button style */
.btn-primary,
.btn-outline-primary:hover{
  background-color: #339af0;
  border-color: #339af0;
}
.btn-outline-primary{
  color: #339af0;
  border-color: #339af0;
}
.btn-primary:hover{
  background-color: transparent;
  border-color: #2c7eb8;
}
.btn-close:focus{
  box-shadow: none;
}
.login-user {
  width: 36px;
  height: 36px;
  background: #339af0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.user-dropdown .dropdown-item{
  padding: 6px 20px;
  font-size: 15px;
  color: #555;
}

/* Yhhl */
.form-modal .modal-header {
  border-bottom: 0;
  padding: 20px 30px 0;
}
.form-modal  .modal-body {
  padding: 20px 30px 30px;
}
.form-modal .btn-primary {
  min-width: 200px;
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  padding: 10px;
  margin-top: 25px;
}
.modal-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b0b0b099;
  z-index: 1;
  border-radius: 6px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}